/* Medium size responsive ( >= 968px ) */
@media screen and (max-width: 1550px) {
    .album-wrapper .card{
        flex-basis: calc(100% / 4);
    }
}

/* Small size responsive ( >= 768px ) */
@media screen and (max-width: 1200px) {
    .album-wrapper .card{
        flex-basis: calc(100% / 2);
    }
}

/* ExtraSmall size responsive ( >= 550px ) */
@media screen and (max-width: 550px) {
    .album-wrapper .card{
        flex-basis: calc(100% / 2);
    }
}
