/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img{
    display: block;
    max-width: 100%;
}

.white{
    color: white;
}

.bg-black{
    background-color: black;
}

/* Utils */
.flex{
    display: flex;
}

/* Navbar header */
header .content{
    position: fixed;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

header .card-img{
    width: 100px;
}

header button{
    border-radius: 17px;
    padding: 10px 30px;
    border: 2px solid white;
}

/* Main */
.main-wrapper{
    padding-top: 59.5px;
}

/* Navbar left */
#nav-left{
    height: calc(100vh - 100px);
    flex-basis: 20%;
    background-color: black;
    border: 2px dashed white;
}

/* Main card content */
.main-card-wrapper{
    flex-grow: 1;
    background-color: red;
}
